@model System.Collections.Generic.IEnumerable<LibraryCore.Models.Holding>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>